* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

.container {
	align-items: center;
	display: flex;
	gap: 25px;
	justify-content: center;
	min-height: 100vh;
	padding: 40px 20px;
}

.square {
	animation: animate 1.4s infinite;
	height: 40px;
	width: 40px;
}

.square1 {
	background-color: red;
}

.square2 {
	background-color: orange;
}

.square3 {
	background-color: blue;
}

@keyframes animate {
	from {transform: rotate(45deg)}
	to {transform: rotate(135deg)}
}
